.button {
  width: 16%;
  max-width: 310px;
  border: 2px solid $bgr-color;
  background-color: rgba($color: #000000, $alpha: 0);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 3px;


  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.button__slide {
  margin-left: -13%;
  margin-bottom: 520px;
}
